<!-- form-a.hbs -->
<h2 id="webform-head">Information</h2>

<hr/>

<div class="webform-content">
  <div class="input-control text" data-role="input-control">
    <input id="name" list="list-name" name="name"
      placeholder="Name of Entity" type="text" value="{{name}}"/>
    <datalist id="list-name"></datalist>
  </div>

  <div class="form-header">What type of entity?</div>

  <div class="webform-entities">
    <div class="input-control radio default-style webform" data-role="input-control">
      <label>
        <input id="rb_forpro" name="entitytype"
          type="radio" value="For-Profit" {{checked isForProfit}}/>
        <span class="check"></span>
        <div class="webform-labels">For-Profit</div>
      </label>
    </div>

    <div class="input-control radio default-style webform" data-role="input-control">
      <label>
        <input id="rb_nonpro" name="entitytype"
          type="radio" value="Non-Profit" {{checked isNonProfit}}/>
        <span class="check"></span>
        <div class="webform-labels">Non-Profit</div>
      </label>
    </div>

    <div class="input-control radio default-style webform" data-role="input-control">
      <label>
        <input id="rb_gov" name="entitytype"
          type="radio" value="Government" {{checked isGovernment}}/>
        <span class="check"></span>
        <div class="webform-labels">Government</div>
      </label>
    </div>

    <div class="input-control radio default-style webform" data-role="input-control">
      <label>
        <input id="rb_individs" name="entitytype"
          type="radio" value="Individual" {{checked isIndividual}}/>
        <span class="check"></span>
        <div class="webform-labels">Individual</div>
      </label>
    </div>
  </div>

  <div class="form-header">What kind of work do they do?</div>
  <div class="select-all-msg">(Select all that apply)</div>

  <div class="webform-categories">
    <div class="input-control checkbox webform" data-role="input-control">
      <label>
        <input data-show="general" id="cb_gen" name="gen" type="checkbox"
          value="General" {{checked is_general}}/>
        <span class="check"></span>
        <div class="webform-labels">General Civic Tech</div>
      </label>
    </div>

    <div class="input-control checkbox webform" data-role="input-control">
      <label>
        <input data-show="datalytics" id="cb_datat" name="datat" type="checkbox"
          value="DataAnalytics" {{checked is_data_analytics}}/>
        <span class="check"></span>
        <div class="webform-labels">Data & Analytics</div>
      </label>
    </div>

    <div class="input-control checkbox webform" data-role="input-control">
      <label>
        <input data-show="econedu" id="cb_eced" name="eced" type="checkbox"
          value="EconGrowthEdu" {{checked is_econ_growth_edu}}/>
        <span class="check"></span>
        <div class="webform-labels">Jobs & Education</div>
      </label>
    </div>

    <div class="input-control checkbox webform" data-role="input-control">
      <label>
        <input data-show="srcities" id="cb_src" name="srcities" type="checkbox"
          value="SRCities" {{checked is_s_r_cities}}/>
        <span class="check"></span>
        <div class="webform-labels">Smart & Resilient Cities</div>
      </label>
    </div>

    <div class="input-control checkbox webform" data-role="input-control">
      <label>
        <input data-show="socserv" id="cb_socs" name="socserv" type="checkbox"
          value="SocialServ" {{checked is_social_serv}}/>
        <span class="check"></span>
        <div class="webform-labels">Social Services</div>
      </label>
    </div>

    <div class="input-control checkbox webform" data-role="input-control">
      <label>
        <input data-show="govtech" id="cb_govt" name="govtech" type="checkbox"
          value="GovTech" {{checked is_gov_tech}}/>
        <span class="check"></span>
        <div class="webform-labels">GovTech</div>
      </label>
    </div>
  </div>

  {{#each locations}}
    {{> location}}
  {{else}}
    {{> location}}
  {{/each}}
</div>

<div class="input-control text" data-role="input-control">
  <input id="website" name="website" placeholder="Website"
    type="text" value="{{website}}" />
</div>

<div class="form-header" style="display:inline-block;">Number of Employees</div>

<div class="input-control text" data-role="input-control"
    style="width:27% !important; display:inline-block; float:right; margin-top: 2%;">
  <input id="employees" maxlength="6" name="employees"
    style="width:100% !important;" type="text" value="{{employees}}" />
</div>

<div class="form-header">Key People?</div>

{{#each key_people}}
  {{> key-people}}
{{else}}
  {{> key-people}}
{{/each}}

<div class="form-header">Who funds them via grants?</div>

{{#each funding_received}}
  {{> funding}}
{{else}}
  {{> funding}}
{{/each}}

<div class="form-header">Who invests in them via equity stakes (stock)?</div>

{{#each investments}}
  {{> investing}}
{{else}}
  {{> investing}}
{{/each}}

<div class="form-header">Who do they fund via grants?</div>

{{#each funding_given}}
  {{> funding-given}}
{{else}}
  {{> funding-given}}
{{/each}}

<div class="form-header">Who do they invest in via equity stakes (stock)?</div>

{{#each investments_made}}
  {{> investment-made}}
{{else}}
  {{> investment-made}}
{{/each}}

<div class="form-header">Who provides them with data?</div>

{{#each data}}
  {{> data}}
{{else}}
  {{> data}}
{{/each}}

<div id="nextPhase">
  <button href="javascript: check_empty()" id="submit-A" type="button">Next</button>
</div>

<hr/>

<div class="webform-footer">
  <span id="">Some entities lack adequate information. Would you like to help?</span>
  <br/>
  <span id="toFormC">Click here!</span>
</div>
<!-- end form-a.hbs -->
